@model Project_CCSB.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}
<div class="loginPage">
    <div class="loginContainer">
        <div class="loginLogo">
            <img id="loginLogo1" src="~/images/logoCCSB.png" />
        </div>
        <h2>Voertuig registreren</h2>
        <hr />
        <div class="row" id="vehicleRow">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="VehicleBrand" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="VehicleBrand" class="form-control" />
                            <span asp-validation-for="VehicleBrand" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="VehicleType" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="VehicleType" class="form-control" />
                            <span asp-validation-for="VehicleType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Length" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Length" class="form-control" />
                            <span asp-validation-for="Length" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="VehicleKind" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="VehicleKind" class="form-control" />
                            <span asp-validation-for="VehicleKind" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LicensePlate" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="LicensePlate" class="form-control" />
                            <span asp-validation-for="LicensePlate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerId">Selecteer wie</label>
                        <select id="customerId"
                                asp-items="@(new SelectList(ViewBag.CustomerList, "Id", "Name"))"
                                class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

