<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="loginPage">
        <div class="loginContainer">
            <div class="row">
                <div class="container">
                    <div class="form-group col-4" id="divAdminList">
                        <label> Kies als wie je een afspraak wilt maken</label>
                        @Html.DropDownList("UserId", new SelectList(ViewBag.AdminList, "Id", "Name"),
                        new { @class = "form-control select2" , @onchange = "onAdminChange()"})
                    </div>
                    <div id="calendar"></div>
                </div>
            </div>

            <partial name="_AddEditAppointment" />

        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales/nl.js"></script>
</body>
</html>
@section Scripts{
    <script src="~/js/script-custom-calendar.js"></script>
}







